.idea/**
.gradle/**
build/**
gradle/**

common/.gradle/**
common/build/**
common/gradle/**

counter/.gradle/**
counter/build/**
counter/gradle/**

gateway/.gradle/**
gateway/build/**
gateway/gradle/**

sequence/.gradle/**
sequence/build/**
sequence/gradle/**

engine/.gradle/**
engine/build/**
engine/gradle/**